<div class="container" *ngIf="isLoaded">
  <div class="row mb-3">
    <div class="cal-12">
     <h1>{{ title }}</h1>
    </div>
  </div>
  <app-addform-worker (addWorker)="onAddWorker($event)" ></app-addform-worker>
  <app-table-workers [title]="'Программисты'" [workers]="getByType(myWorkerType.programmer)" (deleteWorker)="onDeleteWorker($event)" (renameWorker)="onRenameWorker($event)"></app-table-workers>
  <app-table-workers [title]="'Дизайнеры'" [workers]="getByType(myWorkerType.designer)" (deleteWorker)="onDeleteWorker($event)" (renameWorker)="onRenameWorker($event)"></app-table-workers>
  <app-table-workers [title]="'Копирайтеры'" [workers]="getByType(myWorkerType.copywriter)" (deleteWorker)="onDeleteWorker($event)" (renameWorker)="onRenameWorker($event)"></app-table-workers>
  <app-table-workers [title]="'Менеджеры'" [workers]="getByType(myWorkerType.manager)" (deleteWorker)="onDeleteWorker($event)" (renameWorker)="onRenameWorker($event)"></app-table-workers>
</div>